--index-url https://pypi.doubanio.com/simple
--extra-index-url https://download.pytorch.org/whl/cpu

pypdf~=4.2.0
httpx~=0.27.0
pyyaml~=6.0.1
sentence-transformers~=3.0.1
cachelib~=0.13.0
platformdirs~=4.2.2
cloudpickle~=3.0.0
fastapi~=0.111.0
uvicorn~=0.30.1
python-multipart~=0.0.9
